body {
    background: #aaa;
}

#bus-container {
    display: block;
    margin: 5rem 0;

    width: 300px;
    height: 120px;
    background: red;

    border-top-right-radius: 3rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;

    position: relative;
}


.red, 
.red::after {
    background: red !important;
}


.green,
.green::after {
    background: green !important;
}

.blue,
.blue::after {
    background: blue !important;    
}

#bus-container::after {
    content: ' ';
    display: block;
    width: 100px;
    height: 60px;
    background: red;
    position: absolute;
    
    bottom: 0;
    left: 90%;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;

}

.wheel {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 100px;
    z-index: 2; 
}

.wheel::after {
    content: ' ';
    display: block;
    width: 10px;
    height: 10px;
    background: #444;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}

#wheel1 {
    left: 20px;
}

#wheel2 {
    right: 0px;
}

.window {
    display: inline-block;
    width: 60px;
    height: 50px;
    background: #eee;
    position: absolute;
    top: .5rem;

    border-radius: 2px;
}

#window1 {
    border-top-left-radius: 1.8rem;
    left: 10px;
}

#window2 {
    left: 82px;
}

#window3 {
    left: 153px;
}

#window4 {
    border-top-right-radius: 2.2rem;
    left: 225px;
}

hr {
    border: 3px white;
    border-style: dashed;
}

/* ---------------------------------------------- */

.bus1 {
    animation: BUS_MOVE 5s linear infinite;
}
.bus2 {
    animation: BUS_MOVE 5s linear infinite 1.25s;
}
.bus3 {
    animation: BUS_MOVE 5s linear infinite 2.5s;
}

@keyframes BUS_MOVE {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(102%);
    }
}